[tool.black]
line-length = 120
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.venv
  | venv
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 120

[tool.flake8]
max-line-length = 120
ignore = ["E501", "W503"]
exclude = [".git", "__pycache__", "build", "dist", ".venv", "venv"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
# SQLAlchemy models have complex Column types that are hard to annotate properly
disable_error_code = ["assignment", "var-annotated", "arg-type", "return-value", "valid-type", "misc"]
exclude = ["migrations/", "tests/"]
